body {
    margin: 0;
    font-family: Arial;
    text-align: center;
    background-color: #f4f6f9;
}

header {
    background-color: #002147;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

section {
    padding: 50px;
}

button {
    padding: 10px 20px;
    background-color: #004aad;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #003080;
}

footer {
    background-color: #002147;
    color: white;
    padding: 10px;
}
